.categoriesJun {
    margin: 50px 0px;
}

.categoriesJun__title {
      /* //background: #8f57fd; */
    color: #888;
    font-size: 1.5em;
    margin-top: 0px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
    text-align: start;
}