.carousel-april {
    width: 100%;
    overflow-x: auto;
    padding: 1rem;
    position: relative;
    /* // margin-top: 10%; */
}
.carousel__container-april  {
    white-space: nowrap;
    margin: 25px 0px;
    padding-bottom: 10px;
    display: flex;
    gap: 1rem;
}

.carousel-item-april  {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    cursor: pointer;
}

.carousel-item-april  img{
    border-radius: 16px;
}


.carousel-item-april  h3 {
    word-break: break-word;
    white-space: pre-wrap;
    line-height: 20px;
}